@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:ital,wght@0,100..900;1,100..900&family=Story+Script&display=swap");
h1 {
  color: rgb(0, 89, 255);
  padding-left: 10px;
}
header {
  width: 100%;
}
.zagolovok {
  display: flex;
  background: linear-gradient(to right, rgb(208, 255, 0), rgb(0, 167, 0));
  width: 100%;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
}
body {
  margin: 0%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.menu input {
  width: 40%;
  font-size: 20px;
}
section {
  background-color: rgb(208, 255, 0);
  width: 80%;
  border-radius: 20px;
  margin: 20px;
  display: flex;
  justify-content: space-around;
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}

section p {
  flex: 10;
  padding: 20px;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

section img {
  flex: 1;
  width: 50%;
  padding: 20px;
}

p {
  color: rgb(0, 173, 147);
}

footer {
  width: 100%;
  background-color: rgb(48, 194, 48);
  display: flex;
  justify-content: center;
}
footer p {
  color: aliceblue;
}
.menu2 ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  background-color: rgb(192, 255, 82);
  height: 50px;
  align-items: center;
}

a {
  text-decoration: none;
  font-size: 23px;
}

#pog {
  flex-wrap: wrap;
}

@media (max-width: 480px) {
  .menu2 ul {
    height: 115px;
    justify-content: center;
  }
  section {
    flex-direction: column;
    width: 60%;
  }
  ul {
    display: flex;
    flex-direction: column;
  }
  section img {
    width: 80%;
  }
  .burger-menu {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
  }
  .burger-menu::before,
  .burger-menu::after {
    content: ""; /* пустой контент */
    background: #fff; /*цвет бургера*/
    position: absolute; /* позиция для общего блока*/
    width: 100%; /* ширина*/
    height: 2px; /* толщина полосок бургера */
  }

  .burger-menu::before {
    top: 0; /* расположение верхней линии бургера */
  }

  .burger-menu span {
    /*средняя линия в виде span*/
    background: #000000;
    position: absolute;
    width: 100%;
    top: 9px;
    height: 2px;
  }
  .burger-menu::after {
    bottom: 0; /* расположение нижней линии бургера */
  }
  .main-nav {
  position: absolute;
  top: 0;
  right: 0;
  width: 50vw;
  height: 100vh;
  background: #272727;
  border: 1px solid #fff;
  padding: 20px 10px;
  transform: translatex(100%);
}

.nav-list {
 flex-direction: column;
 text-align: right;
}
}
